---
const {days, timePeriod} = Astro.props;
---
<div class="grid grid-rows-2 h-fit">
    <p class="capitalize text-gray-500 text-4xl h-fit">office hours</p>
    <p class="uppercase text-gray-500 text-4xl h-fit">{days}:{timePeriod}</p>
</div>